<div id="chartdiv" style="width: 100%; height: 500px"></div>
{{x}} - {{y}}
<div style="position: fixed;" [style.left]="x" [style.top]="y" *ngIf="menu">
  <clr-vertical-nav>
    <label class="nav-header"> {{menuContext.name}} </label>
    <a href="#" clrVerticalNavLink (click)="menuClick($event, menuContext)">
      <clr-icon clrVerticalNavIcon shape="factory"></clr-icon>
      İhracat Yap</a>
    <a href="#" clrVerticalNavLink (click)="menuClick($event, menuContext)">
      <clr-icon clrVerticalNavIcon shape="store"></clr-icon>
      İthalat Yap</a>
    <a href="#" clrVerticalNavLink (click)="menuClick($event, menuContext)">
      <clr-icon clrVerticalNavIcon shape="highlighter"></clr-icon>
      Not Ekle</a>
    <a href="#" clrVerticalNavLink (click)="menuClick($event, menuContext)">
      <clr-icon clrVerticalNavIcon shape="trash"></clr-icon>
      Bilgileri Sil</a>
  </clr-vertical-nav>
</div>
