<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="..." class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">Project Clarity</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="javascript://" class="active nav-link nav-text">Dashboard</a>
      <a href="javascript://" class="nav-link nav-text">Interactive Analytics</a>
    </div>
    <form class="search">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="Search for keywords...">
      </label>
    </form>
    <div class="header-actions" *ngIf="user">
      <a href="javascript://" class="nav-link nav-icon-text">
        <clr-icon shape="user"></clr-icon>
        <span class="nav-text">{{ user.name || user.email }}</span>
      </a>
      <a href="#" (click)="signOut()" class="nav-link nav-text">
        <img *ngIf="user.photoUrl" style="width: 25px" src="{{ user.photoUrl }}">
        Log Out
      </a>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cloud</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tenants</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">

      <app-map *ngIf="user"></app-map>

      <div class="jumbotron bg-transparent text-center">
        <div *ngIf="!user" class="card text-center">
          <h6 class="card-header">
            Social Map
          </h6>
          <div class="card-block">
            <h4 class="card-title">Not signed in</h4>
            <p class="card-text">Sign in with</p>
          </div>
          <div class="card-block">
            <button class="btn btn-social-icon btn-facebook mx-1" (click)="signInWithFB()"><span class="fa fa-facebook"></span></button>
          </div>
        </div>
      </div>
    </div>
    <nav class="sidenav">
      ...
    </nav>
  </div>
</div>
